<div class="ml-4 btn-toolbar" role="toolbar" aria-label="Pagination">
  <div class="btn-group mr-2" role="group">
    <span class="form-inline">
      <label class="my-1 mr-2" for="pageLimit">Show</label>
      <select class="custom-select my-1 mr-sm-2" id="pageLimit" #cl (change)="changeLimit(cl.value)">
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </span>
  </div>
  <div class="btn-group my-1 mr-2" role="group">
    <button type="button" class="btn btn-light" (click)="paginaiton('first')">First</button>
    <button type="button" class="btn btn-light" (click)="paginaiton('previous')">Previous</button>
    <button type="button" class="btn btn-light" (click)="paginaiton('next')">Next</button>
    <button type="button" class="btn btn-light" (click)="paginaiton('last')">Last</button>
  </div>
</div>