<div class="container">
  <div class="row my-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="info-box hover-expand-effect">
        <div class="icon bg-deep-purple">
          <i class="fa fa-user-md"></i>
        </div>
        <div class="content">
          <div class="text">THIS MONTH PATIENTS</div>
          <div class="number">{{ currentMonthPatients }}</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="info-box hover-expand-effect">
        <div class="icon bg-green">
          <i class="fa fa-hourglass-half"></i>
        </div>
        <div class="content">
          <div class="text">THIS MONTH SESSIONS</div>
          <div class="number">{{ currentMonthSessions }}</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="info-box hover-expand-effect">
        <div class="icon bg-teal">
          <i class="fa fa-money"></i>
        </div>
        <div class="content">
          <div class="text">CASH</div>
          <div class="number">{{ cashReport?.balance }} ৳</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card">
        <div class="body bg-teal">
          <div class="m-3">
            <h5>আয় ব্যয় তথ্য</h5>
          </div>
          <table class="table cash-table">
            <tr>
              <td></td>
              <td>আয়</td>
              <td>ব্যয়</td>
            </tr>
            <tr>
              <td>চলতি মাস</td>
              <td>{{ cashReport?.thisMonthIncome | currency:"&#x9f3;"}}</td>
              <td>{{ cashReport?.thisMonthExpense | currency:"&#x9f3;"}}</td>
            </tr>
            <tr>
              <td>বিগত মাস</td>
              <td>{{ cashReport?.lastMonthIncome | currency:"&#x9f3;"}}</td>
              <td>{{ cashReport?.lastMonthExpense | currency:"&#x9f3;" }}</td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>