<div class="container">
  <div class="row my-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="info-box hover-expand-effect">
        <div class="icon bg-deep-purple">
          <i class="fa fa-user-md"></i>
        </div>
        <div class="content">
          <div class="text">THIS MONTH PATIENTS</div>
          <div class="number">{{ currentMonthPatients }}</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="info-box hover-expand-effect">
        <div class="icon bg-green">
          <i class="fa fa-hourglass-half"></i>
        </div>
        <div class="content">
          <div class="text">THIS MONTH SESSIONS</div>
          <div class="number">{{ currentMonthSessions }}</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="info-box hover-expand-effect">
        <div class="icon bg-teal">
          <i class="fa fa-money"></i>
        </div>
        <div class="content">
          <div class="text">CASH</div>
          <div class="number">{{ cash }} ৳</div>
        </div>
      </div>
    </div>
  </div>
</div>