<nav class="side-nav-offset sidebar" [ngbCollapse]="navCollaps" id="sideNav">
  <div>

    <div class="profile">
      <div class="row m-0">
        <div class="profile-pic m-2 ">
          <i class="profile-pic-icon fa fa-user fa-5x"></i>
        </div>
      </div>
      <div class="m-2" *ngIf="appUser" style="text-align: center;">
        <span>{{appUser.name}}</span>
        <!-- <ul> -->
        <span ngbDropdown *ngIf="appUser" placement="bottom-right" class="nav-item dropdown left-border float-right">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/dashboard">
              <i class="fa fa-user"></i> প্রোফাইল </a>
            <a class="dropdown-item" routerLink="/dashboard/users/changePassword">
              <i class="fa fa-unlock-alt"></i> পাসওয়ার্ড পরিবর্তন </a>
            <a class="dropdown-item" (click)="logout()">
              <i class="fa fa-sign-out"></i> লগ আউট</a>
          </div>
        </span>
        <!-- </ul> -->
      </div>
    </div>

    <ul class="list-group mt-3">
      <span *ngFor="let n of menuList">
        <li (click)="select(n.name);" [ngClass]="{active: isActive(n.name)}" class="nav-group-item" *ngIf="hasAuthority(n.authority)"
          (click)="n.url.length > 0 ? navigateTo(n.url) : null ">
          <i class="fa" [ngClass]="n.icon"></i> &nbsp;
          <span>{{n.name}}</span>
          <small *ngIf="n.secondMeu.length > 0" class="pull-right">
            <i class="fa" [ngClass]="isActive(n.name)?'fa-minus':'fa-plus'"></i>
          </small>

          <span *ngFor="let child of n.secondMeu">
            <ul style="display:none;" class="row p-0 second-list-group">
              <li *ngIf="hasAuthority(child.authority)" (click)="child.url.length > 0 ? navigateTo(child.url) : null " class="nav-group-item first pl-5">
                <i class="fa" [ngClass]="child.icon"></i>&nbsp;
                <span>{{ child.name }}</span>
              </li>
            </ul>
          </span>
        </li>
      </span>

    </ul>
  </div>
</nav>