@import '../../assets/theme.scss';

.side-nav-offset {
  width: 285px;
  overflow-y: auto;
}

.sidebar {
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  background: rgba(255, 255, 255, 0.85);
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

ul li {
  cursor: pointer;
}

ul li:hover {
  font-weight: 600;
}

.active {
  color: $primary-color-dark;
  font-weight: 600;
}

.active ul li {
  display: block !important;
  color: black;
  font-weight: 300;
}

.selected {
  color: $accent-color !important;
  font-weight: 600 !important;
  // background: $accent-color;
}

.list-group {
  background: rgba(255, 255, 255, 0.85);
}

.list-group a,
.second-list-group a {
  color: $primary-text-color;
  text-decoration: none;
}

// .second-list-group {
//   background: transparent;
// }

// .list-group a:hover,
// .second-list-group a:hover {
//   font-weight: 600;
//   background: linear-gradient(to right, transparent, rgba(00, 128, 128, 0.4));
// }

.nav-group-item {
  position: relative;
  display: block;
  padding: 0.6rem 1rem;
  margin-bottom: -1px;
  /* background-color: #fff; */
  // border: 1px solid rgba(0,0,0,.125);
}
.nav-group-item.first:hover {
  font-weight: 600 !important;
  // color: white !important;

  // background: lightblue;
}

.nav-group-item.active {
  background-color: transparent;
  /* border-color: #007bff; */
}
