<home-navbar></home-navbar>
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" class="carousel-img" alt="Random first slide">
    <div class="carousel-caption">
      <h3>গুণগত প্রশিক্ষনের মাধ্যমে দক্ষতার সহিত যত্ন নেওয়া</h3>
      <p>আমাদের স্বাস্থ্য কর্মীরা সর্বোচ্চ সাবধানতা অবলম্বন করে রোগীদের সবচেয়ে পেশাদার, দক্ষ যত্ন দিয়ে থাকে।</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" class="carousel-img" alt="Random second slide">
    <div class="carousel-caption">
      <h3>বয়স্কদের জন্য বাড়িতে স্বাস্থ্য সেবা</h3>
      <p>আমাদের স্বাস্থ্য কর্মীরা বৃদ্ধ/বয়স্ক/চলাচলে অক্ষম রোগীদের বাড়িতে গিয়ে স্বাস্থ্য সেবা দিয়ে থাকে</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" class="carousel-img" alt="Random third slide">
    <div class="carousel-caption">
      <h3>শিশুদের জন্য স্বাস্থ্য সেবা</h3>
      <p>আমারদের প্রতিষ্ঠান শিশুদের জন্য অভিজ্ঞতার সহিত একটু বাড়তি যত্ন সহকারে চিকিৎসা প্রধান করে থাকে।</p>
    </div>
  </ng-template>
</ngb-carousel>

<!-- features -->
<div class="container">
  <div class="row ">
    <div class="col-12 content">
      <div class="content-title">দৈনিক স্বাস্থ্যসেবা সহায়তা</div>
      <div class="content-text">আমরা স্বাস্থ্যসেবা কর্মচারীর নিয়মিত যত্ন এবং সেবা নেতৃস্থানীয় সেবা প্রদানকারীর মধ্যে একটি</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 feature">
      <div class="feature-icon">
        <img src="assets/svgs/medical-records.svg" class="feature-icon-image">
      </div>
      <div class="feature-content">
        <h2>আবাসিক সেবা</h2>
        <p>আমাদের আবাসিক সেবা নিয়ে দ্রুত সুস্থ হয়ে উঠুন </p>
      </div>
    </div>

    <div class="col-md-4 feature">
      <div class="feature-icon">
        <img src="assets/svgs/pills.svg" class="feature-icon-image">
      </div>
      <div class="feature-content">
        <h2>বাড়িতে জরুরি সেবা </h2>
        <p>সব বয়সের ব্যক্তিদের জন্য সুবিধাজনক সময়ে বাড়িতে সেবা প্রদান করে।</p>
      </div>
    </div>

    <div class="col-md-4 feature">
      <div class="feature-icon">
        <img src="assets/svgs/first-aid-kit.svg" class="feature-icon-image">
      </div>
      <div class="feature-content">
        <h2>দৈনিক চলাফেরার রুটিন</h2>
        <p>অনেক রোগী তাদের বয়স্কতার জন্য সর্বোত্তম জীবন যাপন এর নিয়ম সম্পর্কে সিদ্ধান্ত নিতে জানে না।</p>
      </div>
    </div>

  </div>

</div>

<!-- services -->
<div class="bg_step">
  <div class="container">

    <div class="row">
      <div class="col-12 content">
        <div class="content-title">আমাদের স্বাস্থ্যসেবা সার্ভিসগুলো</div>
        <div class="content-text">আমাদের স্বাস্থ্যসেবা সার্ভিসগুলো সেরা সেবা প্রদানকারী প্রতিষ্ঠানগুলোর মধ্যে একটি</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 feature">
        <div class="feature-image">
          <img src="assets/images/service-1.jpg">
        </div>
        <div class="feature-content">
          <h4>বাসায় স্বাস্থ্য সেবা</h4>
          <p>রোগীদের বুঝতে পারে যে, তাদের অসুস্থতা তাদের দৈনন্দিন জীবনে কার্যকলাপ বাধাগ্রস্থ করে, একা একা বসবাস করা তৈরীর খুব
            কঠিন হয়ে দাড়ায়।</p>
        </div>
      </div>
      <div class="col-md-3 feature">
        <div class="feature-image">
          <img src="assets/images/service-2.jpg">
        </div>
        <div class="feature-content">
          <h4>শিশু পরিচর্যা</h4>
          <p>রোগীদের বুঝতে পারে যে, তাদের অসুস্থতা তাদের দৈনন্দিন জীবনে কার্যকলাপ বাধাগ্রস্থ করে, একা একা বসবাস করা তৈরীর খুব
            কঠিন হয়ে দাড়ায়।</p>
        </div>
      </div>
      <div class="col-md-3 feature">
        <div class="feature-image">
          <img src="assets/images/service-3.jpg">
        </div>
        <div class="feature-content">
          <h4>বাসায় স্বাস্থ্য সেবা</h4>
          <p>রোগীদের বুঝতে পারে যে, তাদের অসুস্থতা তাদের দৈনন্দিন জীবনে কার্যকলাপ বাধাগ্রস্থ করে, একা একা বসবাস করা তৈরীর খুব
            কঠিন হয়ে দাড়ায়।</p>
        </div>
      </div>
      <div class="col-md-3 feature">
        <div class="feature-image">
          <img src="assets/images/service-4.jpg">
        </div>
        <div class="feature-content">
          <h4>বাসায় স্বাস্থ্য সেবা</h4>
          <p>রোগীদের বুঝতে পারে যে, তাদের অসুস্থতা তাদের দৈনন্দিন জীবনে কার্যকলাপ বাধাগ্রস্থ করে, একা একা বসবাস করা তৈরীর খুব
            কঠিন হয়ে দাড়ায়।</p>
        </div>
      </div>
    </div>
  </div>
</div>